@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Abhaya Libre';
  src: url('/fonts/AbhayaLibre-ExtraBold.ttf') format('truetype');
  font-weight: 800; /* ExtraBold */
  font-style: normal;
}

@font-face {
  font-family: 'Abhaya Libre';
  src: url('/fonts/AbhayaLibre-Regular.ttf') format('truetype');
  font-weight: 400; /* Regular */
  font-style: normal;
}
@font-face {
  font-family: 'Aladin';
  src: url('/fonts/Aladin-Regular.ttf') format('truetype');
  font-weight: normal; 
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
