@tailwind base;
@tailwind components;
@tailwind utilities;

/* DECLARE FONTS FOR TAILWIND CLASSES USE */

@font-face {
  font-family: "Algerian";
  src: url("/fonts/Algerian Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Abhaya Libre";
  src: url("/fonts/AbhayaLibre-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cherry bomb";
  src: url("/fonts/cherrybombone-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* NAVBAR STYLES */

.nav-link {
  @apply text-lightGray relative py-2 transition-all duration-300;
}

.active {
  @apply text-white font-bold;
}

.nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: #f4a0ff;
  position: absolute;
  left: 0;
  bottom: -4px;
  transition: all 0.3s ease;
}

.active::after {
  width: 100%;
}

.nav-link:hover {
  color: white;
}

.nav-link:hover::after {
  width: 100%;
}

/* HEADER-SECTION STYLES */

.custom-container {
  @apply px-6 pt-8;
}
.header-span {
  @apply text-start text-lightGray;
}
