@tailwind base;
@tailwind components;
@tailwind utilities;

/* GENERAL STYLES */
html {
  scroll-behavior: smooth;
}

.section-container {
  @apply md:px-40;
}

/* DECLARE FONTS FOR TAILWIND CLASSES USE */

@font-face {
  font-family: "Algerian";
  src: url("/fonts/Algerian Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Abhaya Libre";
  src: url("/fonts/AbhayaLibre-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cherry bomb";
  src: url("/fonts/cherrybombone-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Aladin";
  src: url("/fonts/Aladin-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Abril";
  src: url("/fonts/AbrilFatface-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* NAVBAR STYLES */

.nav-link {
  @apply text-lightGray relative py-2 transition-all duration-300;
}

.active {
  @apply text-white font-bold;
}

.nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: #f4a0ff;
  position: absolute;
  left: 0;
  bottom: -4px;
  transition: all 0.3s ease;
}

.active::after {
  width: 100%;
}

.nav-link:hover {
  color: white;
}

.nav-link:hover::after {
  width: 100%;
}

/* HEADER-SECTION STYLES */

.custom-container {
  @apply px-6 pt-8;
}
.header-span {
  @apply text-start text-lightGray;
}

/* OUR-TEAM STYLES */

.section-title {
  @apply text-section-title font-aladin;
  text-shadow: 0px 0px 60px rgba(33, 103, 252, 0.72);
}

.swiper-wrapper {
  padding: 50px 0;
}
.swiper-pagination {
  bottom: 10px !important;
  text-align: center !important;
}
.swiper-pagination-bullet {
  background: white !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  @apply bg-swiperBullet !important;
}
/* SERVICE STAYLES */
@layer utilities {
  .gradient-border {
    border-radius: 50px;
    background: linear-gradient(#120c31, #120c31) padding-box,
      linear-gradient(
          to bottom,
          rgba(89, 153, 187, 1) 0%,
          rgba(153, 153, 153, 0) 100%
        )
        border-box;
    border: 2px solid transparent;
  }
}

.glow-effect {
  text-shadow: 0 0 6px rgba(0, 178, 255, 0.9), 0 0 10px rgba(0, 178, 255, 0.7);
}

.border-custom {
  @apply rounded-lg;
  border-top-width: 7px;
  border-right-width: 7px;
  border-bottom-width: 6px;
  border-left-width: 6px;
  border-top-color: #5999bb;
  border-right-color: #5999bb;
  border-bottom-color: #352451;
  border-left-color: #352451;
  border-top-right-radius: 0;
  border-bottom-left-radius: 70px;
}
.border-choose {
  @apply border-2 border-[#5999BB];
  border-top-right-radius: 0;
  opacity: 53%;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.header-span {
  font-family: "Cherry bomb", cursive;
}

.section-title {
  font-family: "Aladin", cursive;
}

.nav-link {
  font-family: "Inter", sans-serif;
}
